body { font: normal 1em Sans-Serif, Serif; padding: 1em 1em 1em 1em; }
div.main { position: relative; background-color: #F0F0F0; padding: 5px 5px 5px 5px; border: 1px ridge #585858; -webkit-border-radius: 30px; min-height: 350px; }
span.title { font: normal 2em Serif; letter-spacing: 1px; text-shadow: #C3C3C3 2px 2px 2px; position: absolute; top: .4em; left: .6em; }
div.textblock { margin: 4em 1em 1em 1em; }
dt { text-shadow: #C3C3C3 1px 1px 1px; }
dd { margin: .5em .5em .5em .5em; }
a { color: #585858; text-decoration: none; }
a:hover { color: #000080; }
div.footer { position: relative; top: 1em; font-size: smaller; color: #585858; text-align: center; }
