.directory
trash/
templates/
core
tags
commit.sh
findicon.sh
readelf.sh
scheme.sh
xgettext.sh
xhtmldbg.kdevelop.filelist
xhtmldbg.kdevelop.pcs
xhtmldbg.kdevses
xhtmldbg.kdevelop
.kdev4
*.kdev4
.kdev4
*.kdev4
.kdev4
*.kdev4
