body { background: #A0A0A0 url("qrc:/bg.png"); margin: 5px 5px 5px 5px; font: normal 1em Sans-Serif,Serif; }
h1,h2,h3,h4 { color: #C6BD9E; background: transparent; }
p,div { padding: 5px 5px 5px 5px; }
strong { font-size: larger; color: #353535; font-family: Georgia,Sans-Serif; }
ul { list-style-type: square; }
a,img { color: #77715F; text-decoration: none; background: transparent; }
div.boxleft { float: left; width: 50%; }
div.boxright { float: right; width: 30%; }
div.spacer { clear: both; }
img.portr { border: 1px inset #77715F; }
