[Desktop Entry]
Type=Application
Exec=xhtmldbg %u
Name=XHTMLDBG
GenericName=HTML Debugger
GenericName[de]=HTML Debugger
Comment=A HTML/XHTML Validator
MimeType=text/html;
Icon=xhtmldbg
Categories=Development;Debugger;
Terminal=false
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=de.hjcms.qtidy
X-KDE-StartupNotify=true
X-KDE-InitialPreference=2
X-KDE-AutoEmbed=false
